*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border: 2px solid #ddd;
}

#chat-app {
    display: grid;
    grid-template-areas: "users messages" "outgoing outgoing";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    max-width: 250px;
    margin: auto;
    background: whitesmoke;
    min-height: 400px;
    margin-top: 30px;
}

.users {
    grid-area: users;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
}

.messages {
    grid-area: messages;
    padding: 0;
    overflow-y: auto;
    list-style-type: none;
}

.avatar {
    height: 2rem;
}

.sender-info {
    width: 10rem;
}

.message {
    display: flex;
    margin-bottom: 1rem;
}

.message-text,
.message-time {
    margin: 2px;
    margin-top: auto;
}

.message-text {
    background: #579ffb;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 46px;
    text-align: center;
    overflow: hidden;
    color: #fff;
}

.outgoing {
    grid-area: outgoing;
    margin: 2rem;
}

.add__button,
.controls__refresh,
.controls__logout,
.login__button {
    margin-left: 10px;
    background: rgb(0, 78, 196);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.add__form {
    display: flex;
    padding: 10px;
    border-top: 2px solid #ddd;
    background: #eee;
    margin: 10px;
}

.add__task {
    flex: 1;
    background: #ddd;
}

.message-time {
    font-size: 12px;
}

.login {
    margin: 20px
}